@mixin heading($size: 30px, $weight: 600, $family: 'Rubik', $color: #000000) {
  margin: 0;
  font-size: $size;
  font-weight: $weight;
  font-family: $family;
  color: $color;

  &.uppercased {
    text-transform: uppercase;
  }
}

.h-main {
  @include heading();
}

.h-main-3 {
  font-size: 16px;
  color: #222222;
}

// .h-main--md {
//   @include heading(24px, 500);
// }